<template name="card">
  <div class="position-relative">
  	<div class="creature d-flex flex-column" style="height:{{height}}in;width:{{width}}in">
      <div class="d-flex f-1">
        <div class="mutation-info">
          <img class="creature-habitat-symbol" src="{{search 'Habitats' 'picture' card.habitat}}">
          {{card.mutation}}
        </div>
        <div class="d-flex flex-column f-1">
          <div class="creature-header bg-primary d-flex flex-column f-1" style="font-size:{{divide height 15}}in">
            {{card.name}}
          </div>
          <div class="bg-warning creature-picture-container">
            <img class="creature-picture" src="{{card.picture}}">
            {{#if card.sludgeCost}}
              <div class="prev-circle-left" style="background-image:url({{search 'Habitats' 'picture' card.prev.[0].habitat}});background-repeat:no-repeat;height:{{divide height 8}}in;width:{{divide height 8}}in;">
                {{card.sludgeCost}}
              </div>
            {{/if}}
            <div class="px-1 w-100 creature-effects">
              {{#each card.effects}}
                {{#if this}}
                  <div class="border border-dark bg-dark p-1">
                    {{search "Effects" "name" this}}
                  </div>
                {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="creature-footer" style="font-size:{{divide height 20}}in">
        <div class="bg-danger d-flex justify-content-between h-100">
          <div class="d-flex align-items-center f-1 h-100">
            {{card.power}}/{{card.retaliation}}/{{card.toughness}}
          </div>
          <div class="f-1 h-100">
            {{search "Habitats" "name" card.habitat}}
          </div>
          <div class="f-1 h-100">
            {{search "Sets" "name" card.set}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="localCard">
  <div class="d-flex border-bottom">
    <div class="mx-1 f-1">{{card.name}}</div>
    <div class="mx-1 f-1">{{card.power}}</div>
    <div class="mx-1 f-1">{{card.retaliation}}</div>
    <div class="mx-1 f-1">{{card.toughness}}</div>
    <div class="mx-1 f-1">{{card.effects}}</div>
  </div>
  
  <!--<div class="position-relative">-->
  <!--	<div class="creature d-flex flex-column" style="height:{{height}}in;width:{{width}}in">-->
  <!--    <div class="d-flex f-1">-->
  <!--      <div class="mutation-info">-->
  <!--        <img class="creature-habitat-symbol" src="{{search 'Habitats' 'picture' card.habitat}}">-->
  <!--        {{card.mutation}}-->
  <!--      </div>-->
  <!--      <div class="d-flex flex-column f-1">-->
  <!--        <div class="creature-header bg-primary d-flex flex-column f-1" style="font-size:{{divide height 15}}in">-->
  <!--          {{card.name}}-->
  <!--        </div>-->
  <!--        <div class="bg-warning creature-picture-container">-->
  <!--          <img class="creature-picture" src="{{card.picture}}">-->
  <!--          {{#if card.prev}}-->
  <!--            <div class="position-absolute w-100 d-flex justify-content-between">-->
  <!--              {{#if card.prev.[0]}}-->
  <!--                <div class="prev-circle-left" style="background-image:url({{search 'Habitats' 'picture' card.prev.[0].habitat}});background-repeat:no-repeat;height:{{divide height 8}}in;width:{{divide height 8}}in;">-->
  <!--                  {{#if card.prev.[0].power}}-->
  <!--                    <div class="d-flex creature-power"><div>{{card.prev.[0].power}}</div>Power</div>-->
  <!--                  {{/if}}-->
  <!--                  {{#if card.prev.[0].effect}}-->
  <!--                    <div class="d-flex creature-effect"><div>{{card.prev.[0].effect}}</div>Effect</div>-->
  <!--                  {{/if}}-->
  <!--                  {{#if card.prev.[0].effect2}}-->
  <!--                    <div class="d-flex creature-effect"><div>{{card.prev.[0].effect2}}</div>Effect2</div>-->
  <!--                  {{/if}}-->
  <!--                  {{#if card.prev.[0].toughness}}-->
  <!--                    <div class="d-flex creature-toughness"><div>{{card.prev.[0].toughness}}</div>Toughness</div>-->
  <!--                  {{/if}}-->
  <!--                </div>-->
  <!--              {{/if}}-->
  <!--              {{#if card.prev.[1]}}-->
  <!--                <div class="prev-circle-right" style="background-image:url({{search 'Habitats' 'picture' card.prev.[1].habitat}});background-repeat:no-repeat;height:{{divide height 8}}in;width:{{divide height 8}}in;">-->
  <!--                  {{#if card.prev.[1].power}}-->
  <!--                    <div class="d-flex creature-power"><div>Power{{card.prev.[1].power}}</div></div>-->
  <!--                  {{/if}}-->
  <!--                  {{#if card.prev.[1].effect}}-->
  <!--                    <div class="d-flex creature-effect">Effect<div>{{card.prev.[1].effect}}</div></div>-->
  <!--                  {{/if}}-->
  <!--                  {{#if card.prev.[1].toughness}}-->
  <!--                    <div class="d-flex creature-toughness">Toughness<div>{{card.prev.[1].toughness}}</div></div>-->
  <!--                  {{/if}}-->
  <!--                </div>-->
  <!--              {{/if}}-->
  <!--            </div>-->
  <!--          {{/if}}-->
  <!--          <div class="px-1 w-100 creature-effects">-->
  <!--            {{card.effects}}-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="creature-footer" style="font-size:{{divide height 20}}in">-->
  <!--      <div class="bg-danger d-flex justify-content-between h-100">-->
  <!--        <div class="d-flex align-items-center h-100">-->
  <!--          {{card.power}}/{{card.retaliation}}/{{card.toughness}}-->
  <!--        </div>-->
  <!--        <div class="d-flex align-items-center h-100">-->
  <!--          <div>-->
  <!--            {{search "Habitats" "name" card.habitat}}-->
  <!--          </div>-->
  <!--          <div>-->
  <!--            {{search "Sets" "name" card.set}}-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
</template>